In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
Salários = pd.read_csv('/content/Salary_Data.csv')

In [37]:
Salários.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 612.0 bytes

In [38]:
Salários.columns = ['Anos de experiência', 'Salário']

In [39]:
Salários['Salário'] = Salários['Salário'].map('R${:,.2f}'.format)

In [40]:
Salários['Anos de experiência'] = Salários['Anos de experiência'].apply(
    lambda x: f"{int(x)} anos e {int((x - int(x)) * 12)} meses"
)

In [42]:
Salários.head(30)

   Anos de experiência       Salário
0     1 anos e 1 meses   R$39,343.00
1     1 anos e 3 meses   R$46,205.00
2     1 anos e 6 meses   R$37,731.00
3     2 anos e 0 meses   R$43,525.00
4     2 anos e 2 meses   R$39,891.00
5    2 anos e 10 meses   R$56,642.00
6     3 anos e 0 meses   R$60,150.00
7     3 anos e 2 meses   R$54,445.00
8     3 anos e 2 meses   R$64,445.00
9     3 anos e 8 meses   R$57,189.00
10   3 anos e 10 meses   R$63,218.00
11    4 anos e 0 meses   R$55,794.00
12    4 anos e 0 meses   R$56,957.00
13    4 anos e 1 meses   R$57,081.00
14    4 anos e 6 meses   R$61,111.00
15   4 anos e 10 meses   R$67,938.00
16    5 anos e 1 meses   R$66,029.00
17    5 anos e 3 meses   R$83,088.00
18   5 anos e 10 meses   R$81,363.00
19    6 anos e 0 meses   R$93,940.00
20    6 anos e 9 meses   R$91,738.00
21    7 anos e 1 meses   R$98,273.00
22   7 anos e 10 meses  R$101,302.00
23    8 anos e 2 meses  R$113,812.00
24    8 anos e 8 meses  R$109,431.00
25    9 anos e 0 meses  R$105,582.00
26    9 anos e 6 meses  R$116,969.00
27    9 anos e 7 meses  R$112,635.00
28   10 anos e 3 meses  R$122,391.00
29   10 anos e 6 meses  R$121,872.00

In [24]:
Salários['Valor_Salário'] = Salários['Salário'].str.replace('R\$', '', regex=True).str.replace(',', '', regex=True).astype(float)

In [25]:
media_salarial = Salários['Valor_Salário'].mean()

In [26]:
print(f"A média salarial é: R${media_salarial:,.2f}")

A média salarial é: R$76,003.00

In [27]:
Salários[['Anos', 'Meses']] = Salários['Anos de experiência'].str.extract(r'(\d+) anos e (\d+) meses')

In [28]:
Salários['Total_Meses_Experiencia'] = (Salários['Anos'].astype(int) * 12) + Salários['Meses'].astype(int)

In [29]:
media_experiencia_meses = Salários['Total_Meses_Experiencia'].mean()

In [30]:
media_anos = int(media_experiencia_meses // 12)
media_meses = int(media_experiencia_meses % 12)

In [31]:
print(f"A média de experiência é: {media_anos} anos e {media_meses} meses")

A média de experiência é: 5 anos e 3 meses